* {
  user-select: none;
}

html {
  background-color: transparent !important;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 2px solid #e8e9eb;
  border-radius: 8px;
  padding: 2px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

header {
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
